<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>error</title>
    </head>
    <body>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class="flash">
                {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        Sorry {{ username }}, please try again.
    </body>
</html>
